body{
	overflow-y: scroll;
	overflow-x: hidden;
	margin:0px;
	background-color: #3D5265;
}

ul.nav .logo1:hover{background-color: #764A99;}
/*.nav .active {background-color: cyan;}*/
.newNav{
	padding-top:50px;
	background-color: #764A99;/*red#D5394A*/;/*#b56357;*/
	font-family: lobster;
	font-size:2em;
	background-size: cover;
	border-width: 0px;
	z-index: 1;
}

.Logo{
	margin-top: -45px;
	max-width: 250%;
	max-height: 250%;
	border-radius: 5px;
}
.navbar-brand :hover{
	background-color: black;
}
a{
	margin: 5px 30px 5px 30px;
	color: #FFFFFF;
}
.pull-right{
	margin-top: -30px!important;
}
.content{
	margin-top: -20px;
	
	background-size: cover;
	height: 900px;
	margin-top: -10%;
}
.sliderImage{
	height: 100%;
	width: 100%;
}
.carousel{
	max-width: 150%!important;
}
.left{
	margin-left:0px;
}
.right{
	margin-right: 0px;
}
h3{
	font-size:1.4em;
	font-weight: bold;
}
.footer1{
	height:310px;
	background-size: cover;
	background-color: #F7465B!important;
	padding-left: 60px;
	color: #FFFFFF;
	margin-top: -20px;
	padding:20px;
	font-family: Ubuntu;
	font-size:1.4em;
	font-weight: bold;
}
h1{
	font-family: lobster;
}
.intro2prod{
	text-align: center;
	font-family: Julius Sans One;
	font-size: 3.4em;
	color:White;
}
.powered{
	margin-top: 250px;
	text-shadow: 10px;
	font-size:20px;
	text-align:center;
	padding-left: 70px;
}
.productContent{
	padding:20px 100px 20px 100px;
	font-size: 2em;
	font-family: Ubuntu!important;
	color:#FFFFFF;
}
.productTitle{
	padding:20px 100px 20px 100px;
	font-size:3em;
	font-family: Indie Flower;
	color:#FFFFFF;
}
.contactHead{
	color: white;
	font-family: Julius Sans One;
	font-size:5em; 
	text-align: center;
	padding:30px;
}
.getInTouch{
	text-align: center;
	color:white;
	font-family: Ubuntu;
	font-size: 3em;
	padding:30px;
}
.contactImage{
	background-image:url(/home/arvind/Desktop/indtoolslabV2.0/images/telephone.jpg)!important;
	background-size: cover;
	height: 600px;
	color:white;
	margin-top: 0px;
	opacity: 0.8;
}
.contactText{
	opacity: 1;
	text-align: center;
	padding: 100px 40px 40px 40px;
	font-size: 6em;
	color:white;
	font-family: Julius Sans One;
}
.formStuff{
	padding: 5% 20% 5% 20%;
	color:white;
	font-family:lobster;
	font-size: 2em;
}
input{
	background-color: #506374!important;
}
label{
	color:white;
}
.mainAbout{
	color:white;
	padding:10%;
	font-size: 2em;
}
.genInfo{
	font-family: Julius Sans One;
	font-size: 2em;

}
.mainProductContent{
	margin-left: 15%;
}
.affix{
	top: 0;
	width: 100%;
}
#affix2.affix-top{
/*margin-top: 120px;*/
/*margin-right: 20px;*/
width: 200px;
}
#affix2.affix{
margin-top: 110px;
width:200px;
background-color: #203677;

}
.sidebar{
	margin-top: -20px;
	/*background-color: #203677;*/
	font-family: Josefin Sans;
	font-weight: bold;

}